astroid==2.14.1
asttokens==2.2.1
attrs==22.2.0
autopep8==2.0.1
backcall==0.2.0
colorama==0.4.6
comm==0.1.2
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
dill==0.3.6
distro==1.8.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
fonttools==4.38.0
ipykernel==6.19.4
ipython==8.7.0
isort==5.12.0
jedi==0.18.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
Levenshtein==0.20.9
llvmlite==0.39.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
nbformat==5.7.1
nest-asyncio==1.5.6
numba==0.56.4
numpy==1.23.5
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
parso==0.8.3
pdfminer==20191125
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
pycodestyle==2.10.0
pycryptodome==3.16.0
Pygments==2.14.0
pylint==2.16.0
PyMuPDF==1.21.1
pyparsing==3.0.9
pypdf==3.2.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7
pywin32==305
pyzmq==24.0.1
rapidfuzz==2.13.7
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
stack-data==0.6.2
tabula-py==2.6.0
tenacity==8.1.0
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.8.0
typing_extensions==4.4.0
wcwidth==0.2.5
wrapt==1.14.1
